.btnNav{
    width: 6rem;
    height: 40px;
    text-align: center;
    border: 1px solid yellow;
    border-radius: 20px;
    background: yellow;
    margin-left: 2rem;
    margin-right: 2rem;
    color: black;
    font-size: 17px;
    font-weight:bold;
    text-decoration: none;
    transition: 0.5s ease;
  }
  .btnNav:hover{
    box-shadow: 0 0 25px rgb(255, 255, 0);
  }